.input-container {
  background-color: rgb(247, 248, 250);
  border-radius: 20px;
  padding: 16px;

  .amount-input {
    border-radius: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: rgb(247, 248, 250);
    // font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .MuiOutlinedInput{
      border-radius: 20px !important;
  }
}
