.button {
  padding: 16px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
//   color: rgb(86, 90, 105);
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  will-change: transform;
  transition: transform 450ms ease 0s;
  transform: perspective(1px) translateZ(0px);
  background-color: rgb(205, 230, 254);
  &:hover {
    background-color: rgb(190, 222, 254);
  }
}
